*.*
!*.py
#!*.shp
#!*.shx
#!*.qpj
#!*.prj
#!*.dbf
#!*.nc
#!*.msh
#!*.geo
!**.py
!**/inputs/*.py
firedrake/
qmesh-developers-qmesh-2b8dedeabca7/
pycharm-community-2018.2.4/
*/outputs*/
ParaView-5.6.0-RC2-Qt5-MPI-Linux-64bit/
BGS/
System Volume Information/
